/* GENERAL */

body {
  width: 100%;
}

html body {
  font-family: 'DM Sans';
  font-style: normal;
}

a:hover {
  opacity: 0.5;
  /* cursor: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/cursor-select.png"), auto; */
}

body {
  /* cursor: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/cursor.png"), auto; */
}

/* NAV BAN */

#nav-ban {
  background-color: black;

  height: 91px;
  width: 100%;

  position: fixed;
  top: 0;

  z-index: 2;
}

#menu-title {
  float: left;

  line-height: 23px;
  padding-left: 34px;
  padding-top: 34px;
}

#menu-title a {
  color: white;
  text-decoration: none;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#menu-items {
  text-align: center;
  padding-top: 34px;
}

#github {
  padding-right: 10px;
}

#linkedin {
  padding-left: 10px;
}

#contact_button {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  background: #92F1C5;
  border-radius: 2px;
  padding: 8px 25px;

  margin-right: 34px;
  margin-top: 26px;

  float: right;
}

.scrolling-active {
  background-color: black;
}

/* INTRO - BIO */

#intro {
  min-width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #34576D 100%);
}

#intro p {
  font-weight: 400;
  padding-top: 100px;
  font-size: 47px;
}

#intro p strong {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #92F1C5;
  text-decoration-thickness: 3px;
}

p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

p mark {
  font-weight: 400;
  background: none;
}

#intro a img {
  width: 50px;
}

/* PROJECTS */

#main-container {
  background-color: white;  
  padding-bottom: 17px;
}

#projects-section p {
  max-width: 100vw;
}

#projects-section #work-sel {
  color: black;
  font-size: 26px;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

/* TO FIND THE RIGHT PARAMETERS BELOW (SEE COMMENT) */

#grid-container {
  min-width: 375px;

  /* THIS IS THE CODE THAT MAKES IT CENTERED AND RESPONSIVE! JUST NEED TO FIND THE RIGHT SETTING TO PUT 3 OR 2 OR 1 PROJECTS PER LINE DEPENDING ON THE SIZE OF THE SCREEN, MAYBE USE @MEDIA RULE??*/

  display: contents;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}


.grid-item {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;

  width: 450px;
  height: 661px;

  margin: 15px;

  background-color: #000000;

  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
}

#project-type-music {
  background-color: #34576D;
}

.grid-item img {
  max-width: 345px;
  max-height: 260px;
}

.project-title {
  color: white;
  font-weight: 700;
  font-size: 29px;
  line-height: 38px;
  letter-spacing: 0.05em;

  padding-top: 26px;
  padding-bottom: 15px;
  text-align: left;

  border-bottom: 1px solid white;
  border-bottom-style: solid;
}

.spotify-player {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.project-info {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.project-info strong {
  font-weight: 700;
}

#role {
  float: left;
  margin-right: 10px;
  padding: 11px 15px; 
  color: #000000;
  background-color: #D2D9DD;
  border-radius: 50px;
}


/* FOOTER */

#footer {
  background: linear-gradient(180deg, #34576D 0%, #000000 100%);
  padding-left: 34px;
  padding-top: 125px;

  height: 325px;
  width: 100%;

  margin-top: 100px;
}

#copyright {
  padding-top: 100px;
  font-size: 12px;
  color: grey;
}

#get-in-touch {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  background: #92F1C5;
  border-radius: 2px;
  padding: 20px 55px;
}






/* @MEDIA RULES */

  /* Fold Screen (Galaxy Fold etc...)*/
  @media only screen and (max-width: 320px) {
    
    body {max-width: 100vw;}
    #intro {max-width: 100vw;}
    #grid-container {max-width: 100vw;}
    .grid-item {margin: 0; max-width: 100%;}
    .grid-item img {max-height: 50px; max-width: 250px;}
    #menu-items img {max-width: 25px;}
    #nav-ban {height: 50px;}

  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {padding: 0;}
    #projects-section {padding: 0;}
    #projects-section #work-sel {max-width: 100vw; font-size: 19px;}
    #grid-container {padding: 0px; min-width: 100vw;}
    .grid-item {margin: 15px 0px 0px 0px; width: 345px;}
    .grid-item img {max-height: 200px;}
    #intro p {font-size: 22px; padding-left: 15px;}
    #intro {min-width: 100vw;}
    #menu-items {padding-right: 15px;}
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #intro p {padding-left: 30px;}
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    #intro p {font-size: 40px; padding-left: 30px;}
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 912px) {
    #intro p {font-size: 40px; padding-left: 30px;}
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #grid-container {margin: 0px 7.5px 7.5px 0px;}
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {...}
