/* GENERAL */

body {
  width: 100%;
}

a:hover {
  opacity: 0.5;
  cursor: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/cursor-select.png"), auto;
}

body {
  cursor: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/cursor.png"), auto;
}

/* NAV BAN */

#nav-ban {
  background-color: white;
  background-image: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/white-sand.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 60px;
  width: 100%;

  position: fixed;
  top: 0;
}

#menu-items {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  text-align: right;
}

#email, #linkedin {
  padding-left: 10px;
}

#menu-title {
  text-align: left;
  padding-top: 15px;
}

.scrolling-active {
  background-color: black;
}

/* INTRO - BIO */

#intro {
  width: 100vw;
  height: 100vh;
  background-color: #1900ff;
  background-image: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/white-sand.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#intro p {
  padding-left: 30px;
  padding-top: 29px;
  font-size: 50px;
}

p {
  font-family: 'Albert Sans', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

p mark {
  font-weight: 400;
  color: black;
  background: none;
}

/* PROJECTS */

#main-container {
  background-color: white;
  background-image: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/white-sand.png");
}

#projects-section p {
  color: white;
}

#projects-section #work-sel {
  color: black;
  font-weight: 400;
}

#spotify-player {
  padding-left: 15px;
}

#grid-container {
  min-width: 380px;
}

#grid {
  width: 100%;
}

.grid-item {
  /* width: 410px; */
  width: 100%;
  width: 400px;
  height: 500px;
  margin: 15px;

  float: left;
  /*background: rgb(159, 33, 255);*/
  background-color: #1900ff;
  background-image: url("https://media-apps-sites.fra1.digitaloceanspaces.com/website-perso/white-sand.png");
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item img {
  max-height: 260px;
}

.project-title {
  font-family: 'Albert Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: black;

  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;

  text-align: left;
}

.project-info {
  font-family: 'Albert Sans', sans-serif;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 400;

  text-align: left;
}

.project-info strong {
  font-weight: 600;

}

#role {
  color: white;
  text-align: left;
}

/* @MEDIA RULES */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .grid-item {width: 350px;}
    .grid-item img {max-height: 200px;}
    #intro p {font-size: 17px;}
    #nav-ban {min-width: 400px;}
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {...}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {...}
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {...}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {...}
